.staff{
    background-image:url(../../images/rest.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    width:100%;
	height:50vh;
}
.disc-staff{
    background-color: rgba(0,0,0,0.5);
    color: white;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.disc-staff h3{
    font-size: 25px;
    color: #c9c4c4;
}
.disc-staff span {
    font-size: 30px;
    font-weight: bold;
	text-align: center;
}


@media screen and (max-width: 320px){
.staff {
	height: 30vh;
}	
.disc-staff h3{
    font-size: 20px;
}
.disc-staff span {
    font-size: 20px;
}
}
